<div class="d-flex justify-content-center fs-4 column-gap-2">
    {% if site.socials.bluesky %}
    <a class="bi bi-bluesky text-body text-light-emphasis" href="{{ site.socials.bluesky }}" alt="Bluesky"></a>
    {% endif %}

    {% if site.socials.twitter %}
    <a class="bi bi-twitter-x text-body text-light-emphasis" href="{{ site.socials.twitter }}" alt="X/Twitter"></a>
    {% endif %}

    {% if site.socials.facebook %}
    <a class="bi bi-facebook text-body text-light-emphasis" href="{{ site.socials.facebook }}" alt="Facebook"></a>
    {% endif %}

    {% if site.socials.instagram %}
    <a class="bi bi-instagram text-body text-light-emphasis" href="{{ site.socials.instagram }}" alt="Instagram"></a>
    {% endif %}

    {% if site.socials.telegram %}
    <a class="bi bi-telegram text-body text-light-emphasis" href="{{ site.socials.telegram }}" alt="Telegram"></a>
    {% endif %}
</div>