<div class="d-flex justify-content-center fs-4 column-gap-2">
    <a class="bi bi-bluesky text-body text-light-emphasis" href="{{ site.socials.bluesky }}" alt="Bluesky"></a>
    <a class="bi bi-twitter-x text-body text-light-emphasis" href="{{ site.socials.twitter }}" alt="X/Twitter"></a>
    <a class="bi bi-facebook text-body text-light-emphasis" href="{{ site.socials.facebook }}" alt="Facebook"></a>
    <a class="bi bi-instagram text-body text-light-emphasis" href="{{ site.socials.instagram }}" alt="Instagram"></a>
</div>