.background-blur {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: scale(1.1);
}

.fullheight {
    height: 100vh
}

body {
    overflow: hidden;
}

.text-shadow {
    text-shadow: 2px 2px 10px black;
}
